body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: hsl(331, 97%, 55%);
  user-select: none;
}

#container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(
    325deg,
    hsl(246, 100%, 6%) 0%,
    hsl(276, 97%, 38%) 30%,
    hsl(316, 83%, 57%) 70%,
    hsl(317, 78%, 96%) 100%
  );
  padding: 40px 60px;
}

h2 {
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
  text-align: center;
  text-transform: small-caps;
  letter-spacing: 0.1em;
}

button {
  padding: 15px 20px;
  width: 100%;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
  font-size: 1.5em;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-weight: 600;
  text-transform: small-caps;
}

button:focus {
  color: hsl(316, 83%, 57%);
  background-color: hsl(64, 63%, 10%);
}

#game {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.4s;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(0, 30%, 30%);
  transition: 0.4s;
  transform: rotateY(0deg);
  backface-visibility:  hidden;
}

.item.opened {
  transform: rotateY(0deg);
}

.opened::after, .matched::after {
  transform: rotateY(180deg);
}

dialog {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 100;
  transition: 0.4s;
  padding: 1em 2em;
  margin: auto;
  opacity: 0;
  pointer-events: none;
}

dialog[open] {
  opacity: 1;
  pointer-events: auto;
}